
.video-preview{
    width: 400px;
}

.video-image{
    vertical-align: top;
    width: 400px;
}
.image{
    object-fit: contain;
    vertical-align: top;
    border-radius: 5px;
    width: 100%;
}

.video-text{
    vertical-align: top;
    margin-top: 7px;
    margin-left: 6px;
    display: inline-block;
    width: 300px;
}

.profile-pic{
    vertical-align: top;
    display: inline-block;
    width: 50px;
}

.video-title{
    font-weight: 600%;
    font-size: 18px;
    display: inline-block;
}

.channel-name{
    margin-top: 7px;
    font-size: 15px;
    color: gray;
}

.video-states{
    margin-top: 3px;
    color: gray;
}

.profile-image{
    width: 40px;
    border-radius: 50px;
    margin-top: 7px;
}

.title-line{
    display: inline-block;
}
.title-line1{
    display: inline-block;
    cursor: pointer;
    
}

.video-grid{
    display: grid;
    grid-template-columns: 400px 400px 400px;
    column-gap: 15px;
    row-gap: 40px;
    
}